body{
    margin: 0px;
    padding: 0px;
    background:#000;
    height: 100vh;
}
.sticky{
    position:fixed;
    top:0;
    left: 4vw;
    margin: auto;
    
}
.sticky + .content{
 padding-top: 5vh;
}
#mainDiv{
    background-image: url("sunset3.jpeg");
    background-size: 100px;
    height: 100vh;
    width: 100vw;
}
#selectorDiv{
    display: grid;
    grid-template-columns: 33% 33% auto;   
    background-color: none;
    text-align: center;
    width: 70vw;
   border-radius:10px;
    margin: auto;
    padding: 0px;    
}
#selectorDiv button{
    
    border:none;
    color: #ffffff;
    background-color: #000000;
    padding:2vw 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 1000;
    border-radius:10px;
    margin: 0vw;
}
#selectorDiv button:hover{
    background-color:#444444;
}
#projects{
    margin-top: 3vh;
    display: none;
    grid-template-rows: 20% auto;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background: #fff;
    height: 75vh;
}
#codeSamples{
    border: none;
    display: grid;
    grid-template-rows:auto auto;
    
}
#codeSamples button{
    border-radius: 10px;
    border: none;
    background: #000000;
    color:#ffffff;
    font-size: 15px;
    padding: 7px;
    
}
#innerCode{
    border:2px solid black;
    display:grid;
    grid-template-columns: 50% 50%;
    height: 40vh;
}
#findMe{
    display: none;
    border: 1px solid black;
    border-radius: 4px;
    background:white;
    text-align: center;
    width: 95vw;
    margin: auto;
    margin-top: 1vh;
}
#conForms{
display: grid;
grid-template-columns: 33% 33% auto;
padding: 15px;
border: 3px solid black;
border-radius: 4px;
}
#aboutMe{
    color: #ffffff;
    display:grid;
    grid-template-rows: 40% auto;
    background: #000000;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    height: 80vh;
    width: 95vw;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#nameFlair{
    font-size: 5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home11{
    font-size: 3vw;
}
#home11 h2{
    -webkit-text-stroke: 2px #e46511;
}

@media (max-width: 1000px){
#selectorDiv button{
    font-size: 4vw;
    
    padding: 2vw;
    margin: 2px;
    margin-top: 1vh;
}
#selectorDiv{
    width: 92vw;
}
#aboutMe{
    margin-top:6vh;
    width: 100vw;
    height:85vh;
}
#nameFlair{
    font-size: 4vw;
}
#home11{
    font-size: 3vw;
}
#projects{
    margin-top: 6vh;
    height:125vh;
    grid-template-rows: 15% 5% auto;
    font-size: 4vw;
}
#projects button{
    font-size:4vw;
}
#codeSamples{
    height: 100vh;
}
#innerCode{
grid-template-columns: auto;
grid-template-rows: auto auto;
height: 100vh;
}
#findMe{
    font-size: 2vw;
    margin-top:3vh;
}
#findMe img{
    height: 7vh;
    width: 6.5vw;
}
}