body{
	
background: #004400;
}
#navi{
display: grid;
grid-template-columns: 100px auto;
  background: #000000;
  color: #ffffff;
  width: 99%;
  border-radius: 55px;
  padding: 10px;
  margin-left: 0px;
  left: 0px;
  
  
}
#navHead {
font-family: arial;
margin-left: 20px;
}
#navList{
	
}

#navi ul{
  list-style-type: none;
  background:#000000;
  color:#ffffff;
  
}
#navi ul li{
  display: inline;
  padding: 10px;
  font-size: 19px;
  
}
#navi ul li:hover {
	background:#008800;
	border-radius: 40px;
}
#navi ul a{
	color: #FFFFFF;
	text-decoration: none;
	font-family: arial;
}
#navi ul a:hover{
	color: #feeefe;
	
	
}
#home{
background: #77aa77;	

border: solid 5px;
border-radius: 9px;	
	
}
#home h2{
	color: #003300;
	text-align: center;
}
#example h2{
	color:#003300;
	text-align: center;
	
}
#contact h2{
	color: #003300;
	text-align: center;
}
#codeSamples{
	padding: 10px;
	color: #005500;
	text-align:center;
	border: 2px solid black;
	border-radius: 6px;
	margin-bottom: 10px;
	background: #77aa77;
}
#codeSamples button:hover{
	background: #559955;
	color: #eeeeee;
	
}
#codeSamples button{
background-color: #557755;
border: 2px solid black;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 16px;
}
#innerCode{
	display: none;
	grid-template-columns: 50% 50%;
	border: 2px solid black;
	border-radius: 4px;
	padding-top: 10px;
	background:#557755;
	color: #FFFFFF;
	height: 100%;
}
#overPics{
	padding: 10px;
	background: #77aa77;
	color:#005500;
	text-align: center;
	border: 2px solid black;
	border-radius: 3px;
	margin: 0px;
}
#overPics button:hover {
	background: #559955;
	color: #eeeeee;

}
#overPics button{
background-color: #557755;
border: 2px solid black;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 16px;

}
#picLord{
color: #77aa77;
background: #557755;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
	display: none;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	border: 2px solid black;
	border-radius: 4px;
}
#homeParent{
	display: grid;
	grid-template-columns: 67% auto;
	border: solid 2px;
	border-radius: 5px;
}
#home1{
	padding-top: 1%;
	margin-left:10%;
	font-size: 15px;
	line-height: 35px;
	
}
#home1 h5{
	font-size:18px;
	text-decoration: underline;
}
#home2{
	display:grid;
	
	grid-template-columns: 100%;
	background: #557755;
	text-align:center;
	font-size: 20px;
	border:4px solid black;
	border-radius: 4px;
	color: #77aa77;
}
#home2 h4{
	color: #003300;
	font-size: 20px;
	font-family: arial;
}
#profilePic{
	margin-top: 15px;
	height:80%;
width: 80%;	
	margin-left: 9%;
	border: 4px solid;
	border-radius: 5px;
}
#example{
	margin-top:10px;
	//height : 90%;
	border: 5px solid; 
	border-radius: 8px;
	background: #559955;
	
	
}

#contact{
	margin-top: 20px;
	background: #559955;
	border: 7px solid;
	border-radius: 9px;
	
	
}
#conForms{
	
	display: grid;
	background: #77aa77;
	grid-template-columns: 33% 33% auto;
		margin: 0px;
		
		border: 5px solid;
		border-radius: 2px;
		
}
#conForms a{
	text-decoration: none;
	color: #000000;
}
#conForms a:hover {
	color:#005500;
	background: #FFFFFF;
}
#gitHub{
	text-align: center;
	
}
#email{
	text-align: center;
	
	
}
#fiver{
	text-align: center;
}
.content{
		background-image: url("BBZO9260.jpg");
	background-size: 300px;

  padding: 10px;
  margin-top:50px;
  display: grid;
  grid-template-rows: 5% 80% auto;
  font-family: arial;
  border-radius: 4px;
}
.sticky{
  position: fixed;
  top:0;
  
}
.sticky + .content{
  padding-top: 60px;
}
@media (max-width: 700px){
	#navi {
		width: 97%;
	}
	#home2 h4{
font-size: 16px;
	}		
}
@media (min-width : 900px){
	#top1{
		 
		
	}
	.content{

	}		
	#home{
		width: 80%;
		margin-left: 10%;
		
	}
	#homeParent{
		
	}
	#home1{
		font-size: 17px;
		line-height: 40px;
		
}
#home2 {
	
}
#home1 h5{
	font-size: 20px;
	
}
#home1 ul li{
	
}
#example{
	width: 80%;
	margin-left: 10%;
}
#contact{
	width: 80%;
	margin-left: 10%;
}
}
